.modal-content.fs247
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') 
        &times;        
    h3.modal-title
     | FS 24/7 Ltd
    h4.subtitle.text-center
      | Web design and development    
  .modal-body
    .container
      .col-sm-4
        img.img-responsive(src='/images/home-fs.png', alt='') 
      .col-sm-4
        img.img-responsive(src='/images/fs-about-us.png', alt='') 
      .col-sm-4
        img.img-responsive(src='/images/services-fs.png', alt='') 
         
  .modal-footer
    .col-xs-12.text-center
      a.btn.btn-primary(href='#' data-show='.workorder')
        span.glyphicon.glyphicon-chevron-left  
        | Previous
      a.btn.btn-primary(href='#' data-show='.fs247')
        | Next
        span.glyphicon.glyphicon-chevron-right
