.modal-content.fs247
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') 
        &times; 
    .col-xs-12.text-center
      a.btn.btn-primary(href='#' data-show='.kandidly')
        span.glyphicon.glyphicon-chevron-left  
      a.btn.btn-primary(href='#' data-show='.kandr')
        span.glyphicon.glyphicon-chevron-right 
    .col-sm-12.modal-title      
      h2
       | FS 24/7 Ltd
      p.text-center
        | Web design and development   
    .col-sm-12  
      .col-sm-6.text-left
        P
          |  FS 24/7 is a nation wide service that provides companies IT and networking support.  FS 24/7 wanted a site that was not only modern but also marketed their services.  I developed a responsive site that met all of their wants and needs.
      .col-sm-6
        img.img-responsive(src='/images/homepage-fs247.jpg', alt='') 
          
         
  .modal-footer
