.modal-content.kandidly
  .modal-header
    .modal-actions
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
          span.glyphicon.glyphicon-remove
      .col-xs-12.text-center
        button.btn.btn-primary(href='#' data-show='.workorder')
          span.glyphicon.glyphicon-chevron-left
        button.btn.btn-primary(href='#' data-show='.fs247')
          span.glyphicon.glyphicon-chevron-right
    .modal-title
      h2
       | Prevail
      p.subtitle.text-center
        | Web design and development
  .modal-body
    .col-sm-5.col-sm-offset-1.text-left
      p
        | Prevail is a desktop coaching app for business leaders. The client wanted a redesign to show the user all the necessary data they might need but in a way that wasn't overwhelming.  They also wanted more consistency throughout their app.  I helped them redesign their whole app as well as help the dev team with implementation.
    .col-sm-6
      .co1-xs-2.col-xs-offset-5.text-center
        img.img-responsive(src='/images/positionguide.jpg', alt='')
        img.img-responsive(src='/images/course-catalog.jpg', alt='')


  .modal-footer
