#myWorkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    include ./_kandidly.jade
    include ./_workorder.jade
    include ./_kandr.jade
    include ./_fs247.jade
    