extends layout

block content
  header
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-menu')
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar           
            span.icon-bar          
          a.navbar-brand.pull-left(href='#home') {AB}
        #main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li.active
              a(href='#home') Home
            li
              a(href='#about') About 
            li
              a(href='#work') Work
            li
              a(href='#contact') Contact
  #home.container-fluid
    .hero-message
      h1 Your favorite web designer 
  
  #about.page.container-fluid
    .content.container.col-sm-10.col-sm-offset-1
      h2 Get to know me
      p
        | My name is  Andrea and I do what I love for a living.  I’m a freelance usability specialist and and a web designer. I enjoy creating sites from wire frames all the way to a fully functioning site. If I'm not working you can most likely find me at a Cincinnati tech meet up or enjoying a drink at a local bar.
      p
        | My experience includes web design, HTML5, CSS3, Sass, WordPress, Github, design implementation in Ruby on Rails, and Express.js.
  #work.page
    .container-fluid
      h2.text-center See what I'm working on
      a(href='#')
        article.work.col-md-3.col-sm-6.col-xs-12
          img.img-responsive(src='/images/kandidly.png', alt='' data-toggle='modal', data-target='#myWorkModal' data-show='.kandidly')
      a(href='#')
        article.work.col-md-3.col-sm-6.col-xs-12
          img.img-responsive(src='/images/FS247.png', alt='' data-toggle='modal', data-target='#myWorkModal' data-show='.fs247')
      a(href='#')
        article.work.col-md-3.col-sm-6.col-xs-12
          img.img-responsive(src='/images/kandrsite.png', alt='' data-toggle='modal', data-target='#myWorkModal' data-show='.kandr')
      a(href='#')
        article.work.col-md-3.col-sm-6.col-xs-12
          img.img-responsive(src='/images/workorder.png',alt='' data-toggle='modal', data-target='#myWorkModal' data-show='.workorder')
  #contact.page.container-fluid.text-center
      h2 Let's chat
      p
        | I'm currently accepting new projects and would love to hear your ideas.
     
      a.btn.button-email(href='mailto:ambaker.888@gmail.com')
        | ambaker.888@gmail.com
            
            
            
  include ./_modal.jade
