extends layout

block content
  header
    nav.navbar.navbar-default.navbar-fixed-top
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#collapse')
            span.sr-only toggle navigation

            span.icon-bar

            span.icon-bar
           
            span.icon-bar
          
          a.navbar-brand.pull-left(href='#home')
            | Wisdom

        #collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li.active
              a(href='#home') Home
            li
              a(href='#about') About
            li
              a(href='#work') Work
            li
              a(href='#contact') Contact
    #home
      .item
        .hero-message
          p
            | hjkhkjhgjhgjhgjhgjhgfffffggggggggggggggggggggggggggggggggggfffffffffffffffffffffffffffffffffffffff

  .main
    #about.page.container-fluid
      .content.container
        h2 About 
        .row
          .col-sm-10.col-sm-offset-1
            p
              | My name is  Andrea and I do what I love for a living.  I’m a usability specialist and and a web designer. I enjoy working with others,creating fully functioning websites, and helping my clients create sites for the user.  In my free time I enjoy cooking and watching cat videos.
          .col-sm-10.col-sm-offset-1
            p
              | My experience includes web design, html5, css3, sass, html emails, WordPress, design implementation in Ruby on Rails, and Express.js.
    #work.page
      .row
        article.work.col-md-4.col-sm-4.col-xs-12
          a(href='#')
          img(src='', alt='')

            
        article.work.col-md-4.col-sm-4.col-xs-12
          a(href='#')
          img(src='', alt='')

        article.work.col-md-4.col-sm-4col-xs-12
          a(href='#')
          img(src='', alt='')
         
       .row 
          article.work.col-md-4.col-sm-4.col-xs-12
            a(href='#')
            img(src='', alt='')
            
          article.work.col-md-4.col-sm-4.col-xs-12
            a(href='#')
            img(src='', alt='')
          
          article.work.col-md-4.col-sm-6.col-xs-12
            a(href='#')
            img(src='', alt='')
            
    #contact.page
      .container
        h2 Contact
        .row
          div.col-md-6
            ul
            li.fa.icon-map-marker Cincinnati, OH 
            li.fa.fa-envelope ambaker.888@gmail.com 

            
            
          div.col-md-6
            form
              .form-group
                label(for='exampleInputPassword1') 
                |  
                input#exampleInputEmail1.form-control(type='email', placeholder='Name')
                |   
              .form-group
                label(for='exampleInputPassword1') 
                |     
                input#exampleInputPassword1.form-control(type='password', placeholder='Enter email')
              .form-group
                textarea.form-control(rows='3')
              |   
              button.btn.btn-default.btn-block(type='submit') Submit
