extends layout

block content
  .container-fluid
    p
      | a pic will be here
  .container-fluid
    .container.text-center
      h1
        | work
      p
        | lkdjlsdkfjlksdjf
  .container-fluid
    .container.text-center
      h1
        | about
      p
        | lkdjlsdkfjlksdjf
  .container-fluid
    .container.text-center
      h1
        | blog

      .col-md-4
        p
          | lkdjlsdkfjlksdjf
      .col-md-4
        p
          | lkdjlsdkfjlksdjf
      .col-md-4
        p
          | lkdjlsdkfjlksdjf
  .container-fluid
    .container.text-center
      h1
        | contact
      p
        | lkdjlsdkfjlksdjf