extends layout

block content
  .container-fluid
    img(src='', alt='Picture coming soon', style='width:800px;height:890px')

  .container-fluid.background-white
    .container.text-center
      h1
        | Featured Work
      .col-md-4.col-sm-4.img-responsive
        img(src='', alt='Picture coming soon')

      .col-md-4.col-sm-4.img-responsive
        img(src='', alt='Picture coming soon')

      .col-md-4.col-sm-4.img-responsive
        img(src='', alt='Picture coming soon' )
  .container-fluid
    .container.text-center
      h1
        | about
      p
        | My name is  Andrea and I do what I love for a living.  I’m a usability specialistand and a web designer. I enjoy working with others,creating fully functioning websites, and helping my clients create sites for the user.  In my free time you can bet I will be teaching myself more about the interwebz or at a local  meetup.
  .container-fluid.background-white
    .container.text-center
      h1
        | What I do

      .col-md-4
        p
          | lkdjlsdkfjlksdjf
      .col-md-4
        p
          | lkdjlsdkfjlksdjf
      .col-md-4
        p
          | lkdjlsdkfjlksdjf
  .container-fluid
    .container.text-center
      h1
        | Contact me
      p
        | Drop me a message or follow me on social media.
      form.form.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
        .form-inputs
          .form-group
            label.pull-left(for='Name') Name
            input#name.form-control(type='email')
          .form-group
            label.pull-left(for='email') Email
            input#email.form-control(type='email')
          .form-group
            label.pull-left(for='exampleInputPassword1') Message
            textarea.form-control(rows='3')
          .form-actions
            button.btn.btn-default(type='submit') SUBMIT
     .col-md-1.col-md-push-3.img-responsive
        img(src='', alt='media')

      .col-md-1.col-md-offset-2.img-responsive
        img(src='', alt='media')

      .col-md-1.col-md-pull-2.img-responsive
        img(src='', alt='media' )
