#myModaluntitled.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') 
            &times;        
        h3.modal-title#myModalLabel 
         | Work Order  
      .modal-body
        h4.subtitle
          | Webbased app design 
        p 
          | hjkghkjdfgh
             
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') 
          span.glyphicon.glyphicon-chevron-left    Previous     
        button.btn.btn-primary(type='button') Next
          span.glyphicon.glyphicon-chevron-right
