extends post_layout

block post_title  
  | Style guides for both you and the developer
  P.date
    | 2015.08.01
block post_body

  p 
    | My favorite type of designer is one that understands the web.  Whenever I need to design or implement a web design you can bet a style guide will be involved.  I’m less about something being pixel perfect and more about my user getting the full experience across all devices and browsers. Anytime I get a style guide with snippets of code I get excited and jump with glee.  Not only does this create a great relationship between designer and developer it shows me that the designer really understands how the web works.  Designers should know how to code but if they don’t there are tons of style guides to reference.

  p 
    | If you want to start a style guide there are a lot of things you should consider but deffinitly include the following: 
  
  ul
    li Color scheme with hex
    li Logo and instructions on how the logo can be changed (if it can)
    li Typeface you want to use and what instance you want to use them in
    li if you have an exact rem or em value you want to use for the text that would be helpful
    li If you have a certain button in mind the spacing and actual code for the button would be great 
  
  p 
    | Recently Gaslight had a great UX design meetup that touched on this subject so I’m going to share their references as well as some of my own.
    a(href='https://docs.google.com/document/d/1s872Gg60zb4pdSetOvMe5XmBHc-vw6UjtxbH_Ar4Tbw/edit#heading=h.kxbh6eczgve5')
      | Gaslight Google Doc 
  ul
    li
      a(href='http://primercss.io' target='_blank')
        | Github style guide
    li 
      a(href='https://www.mozilla.org/en-US/styleguide/identity/firefox/branding/' target='_blank')
        | Firefox style guide
    li 
      a(href='https://developers.google.com/web/fundamentals/resources/styleguide/index?hl=en#typography' target='_blank')
        | Google style guide
  
  p 
    | If you have any you would like me to add to the list feel free to message me 
